@import url('https://fonts.googleapis.com/css2?family=Lato&family=Jua&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Jua', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.home,
.reports,
.products,
.Commands,
.Team {
  display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
}
